body {
    background-color: #F1F2E7; /* a light green color for the background */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* change the font to your preference */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    max-width: 75%;
    margin: 10px auto 0; /* adds 10px top padding */
  }
  
  .image-grid img {
    width: 100%;
  }
  
  .leaf-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    max-width: 75%;
    margin: 10px auto 0; /* adds 10px top padding */
  }
  
  .leaf-grid img {
    width: 100%;
    min-height: 150px; /* You can adjust this value according to your preference */
  }
   
  
  .leaf-grid div {
    position: relative;
    display: grid;
  }
  
  
  .damage {
    align-self: end;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
  }
  
  

#image-upload {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-align-last: center;
}

#generate-report {
  /* add some padding */
  margin: 10px 10px;
}



hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#FFFF00;
  height: 1px;
}

hr {
  border: none;
  height: 2px;
  width: 75%;
  background: linear-gradient(to right, #1a6304, #4CAF50);
  opacity: 0.5;
  margin: 1em auto;
  border-radius: 4px;
}





h1, h2, h3 {
  color: #3B3A18; /* a dark green color for headings */
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0 auto;
}

p {
  color: #555555; /* a medium gray color for text */
  line-height: 1; /* increase line spacing for readability */
}

/* style links with leafy colors */
a {
  color: #659D32; /* a bright green color for links */
  text-decoration: none;
}

a:hover {
  color: #8CC63E; /* a lighter shade of green for hover effect */
}

/* add a leafy border to images */
img {
  border: 2px solid #659D32;
  border-radius: 10px;
}

/* add a leafy background to buttons */
button {
  background-color: #8CC63E;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #659D32;
  cursor: pointer;
}

#loading {
  /* get rid of the border and hide the image */
  border: none;
  margin: 10, 10, 30, 10;
  display: none;
}

.uploaded_image {
  /* add some padding */
  margin: 10px 10px;
}

#alert {
  /* Make it red and hide it*/
  color: red;
  display: none;
}

#leaf-icon {
  /* get rid of the border */
  border: none;
  width: 30px;
  height: 30px;
  animation: bob 3s ease-in-out infinite;
  transform-origin: center;
}

@keyframes bob {
  0% {
      transform: translateX(-2px) rotate(-6deg);
  }
  50% {
      transform: translateX(2px) rotate(6deg);
  }
  100% {
      transform: translateX(-2px) rotate(-6deg);
  }
}

.damage {
  /* align self to the bottom of the cell */
  align-self: end;
}