/* General Styles */
body {
  background-color: #F1F2E7;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  color: #3B3A18;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0 auto;
}

p {
  color: #555555;
  line-height: 1;
}

a {
  color: #659D32;
  text-decoration: none;
}

a:hover {
  color: #8CC63E;
}

hr {
  border: none;
  height: 2px;
  width: 75%;
  background: linear-gradient(to right, #1a6304, #4CAF50);
  opacity: 0.5;
  margin: 1em auto;
  border-radius: 4px;
}

/* Image Grid Styles */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  max-width: 75%;
  margin: 10px auto 0;
}

.image-grid img {
  width: 100%;
}

/* Leaf Grid Styles */
.leaf-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  max-width: 75%;
  margin: 10px auto 0;
}

.leaf-grid img {
  width: 100%;
  min-height: 150px;
}

.leaf-grid div {
  position: relative;
  display: grid;
}

/* Image Upload and Report Generation */
#image-upload {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-align-last: center;
}

#generate-report {
  margin: 10px 10px;
}

/* Image and Button Styles */
img {
  border: 2px solid #659D32;
  border-radius: 10px;
}

button {
  background-color: #8CC63E;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #659D32;
  cursor: pointer;
}

/* Loading, Alert, and Leaf Icon Styles */
#loading {
  border: none;
  margin: 10, 10, 30, 10;
  display: none;
}

.uploaded_image {
  margin: 10px 10px;
}

#alert {
  color: red;
  display: none;
}

#leaf-icon {
  border: none;
  width: 30px;
  height: 30px;
  animation: bob 3s ease-in-out infinite;
  transform-origin: center;
}

@keyframes bob {
  0% {
    transform: translateX(-2px) rotate(-6deg);
  }
  50% {
    transform: translateX(2px) rotate(6deg);
  }
  100% {
    transform: translateX(-2px) rotate(-6deg);
  }
}

/* Damage Styles */
.damage {
  align-self: end;
  padding: 2px 5px;
}
